*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.flex-alinha{
    display: flex;
    align-items: center;
}

.inteiro{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}
.lado-esquerdo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.screen-cel{
    height: 100vh;
}
.lado-direito{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}
.ocupa{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}
.ocupa:nth-child(1) {
    min-height: 19rem;
}
.instagram-logo{
    height: 3rem;
}
.perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.login{
    background-color: #0095f6;
    color: white;
    padding: 8px;
    border-radius: 4px;
}
.logout{
    margin-top: 1rem;
}
.confirma{
    color: rgb(160, 160, 160);
}
.link-azul{
    color: #0095f6;
}
.baixar-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}
.baixar{

}
.apps{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}
.download{
    height: 3rem;
    width: 10rem;
    background-size: cover;
}
.download:nth-child(1){
    background-image: url('/imgs/apple-button.png');
}
.download:nth-child(2){
    background-image: url('/imgs/googleplay-button.png');
}

/* Responsividade */

@media (max-width: 1024px) {
    .inteiro{
        width: 90%;
    }
}
@media (max-width: 700px) {
    .lado-esquerdo{
        display: none;
    }
    .lado-direito{
        width: 100%;
    }
}